.workspace-container {
  background-color: #1b1d20;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
}

.workspace-content-container {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createcard-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 60px;
  width: calc(55%);
  justify-content: center;
}

.cards-container {
  width: calc(55%);
  gap: 20px;
  margin-top: 60px;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.card-element {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
